<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Halyk.kz/Layout/Navbar.html">
<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3 ">
            <div class="card ml-5" style="width: 18rem;" th:each="it : ${items}">
                <img th:src="${it.pictureURL}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" th:text="${it.name}"></h5>
                    <h4 class="text-primary" th:text="${it.price}"></h4>
                    <p class="card-text" th:text="${it.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{'/halyk/details/' + ${it.id}}" class="btn btn-success" th:text="#{button.details}">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>